<!--  Replace menu links here -->

<li class="nav-item">
  <a
    class="nav-link"
    href="https://drive.google.com/file/d/1wl24w4v9OJqnNWwE_7V3Hz-nnfGTVdi4/view?usp=sharing"
    >Resume</a
  >
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">About Me</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
  <a
    class="nav-link"
    target="_blank"
    rel="noopener noreferrer"
    href="https://priteshkamde.github.io/portfolio/"
    >Art Works</a
  >
</li>
